* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  font-size: 16px;
}

body {
  background: linear-gradient(
    0deg,
    rgba(156, 156, 156, 1) 0%,
    rgba(192, 192, 192, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.album {
  display: inline-block;
  padding-right: 1em;
}

#main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f71a1a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/* NAVIGATION */

header {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  margin-bottom: 8vh;
  margin-left: 4vw;
  margin-right: 4vw;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 100px;
  align-items: center;
  /* SWAG */
}

#logofish {
  height: 30vh;
  width: auto;
  position: fixed;
  top: 2vh;
  left: 2vw;
}

#profile {
  height: 10vh;
  width: auto;
  border-radius: 100px;
  border: solid 4px #f71a1a;
}

h3 {
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* TRACKS */

ul {
  list-style: none;
  display: block;
  width: 30vw;
  height: 64vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 1vw;
  /* SWAG */
  border-radius: 30px;
}

li {
  display: block;
  background-color: #c0c0c0;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 2vh;
  border-radius: 8px;
  align-items: center;
  filter: drop-shadow(rgba(0, 0, 0, 0.025) 2px 2px 8px);
}

.trackinfo {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 2%;
}

#tracks {
  display: flex;
  align-items: center;
}

.trackname {
  font-weight: 600;
  letter-spacing: -0.05em;
}

/* Responsive design */
@media (max-width: 768px) {
  audio {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  audio {
    max-width: 100%;
  }
}

/* HERO MOMENT */

.albumimage {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin-right: 10px;
}

#section_one {
  display: flex;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

#hero {
  display: flex;
  align-items: flex-end;
}

#playlistowner {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  flex-direction: column-reverse;
  rotate: 180deg;
  margin-right: 0%;
  justify-content: start;
  margin-right: -16px;
  z-index: 1;
  /* SWAG */
  font-size: 4.5vw;
  letter-spacing: -0.05em;
  color: #f71a1a;
}

#playlistcover-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0%;
}

#playlistcover {
  height: 55vh;
  width: auto;
  z-index: 0;
  border-radius: 40px;
}

#textplaylist {
  font-size: 4.5vw;
  letter-spacing: -0.05em;
  margin-bottom: -16px;
  z-index: 1;
}

/* FOOTER */

.playlistname_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

#playlistname {
  font-size: 2vw;
  letter-spacing: 0.5em;
  font-weight: 400;
  text-align: center;
}

/* PLAYER */

.custom-audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  ali
}

.custom-audio-player .play-pause {
  background-color: #f71a1a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.custom-audio-player .seek-bar {
  -webkit-appearance: none;
  width: 100px;
  height: 4vh;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  align-items: center;
  position: relative; /* Position relative to position thumb */
}

.custom-audio-player .seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4px;
  height: 3vh;
  background: #f71a1a;
  border-radius: 0%;
  cursor: pointer;
  border: 0px solid #000;
  margin-top: -5px; /* Align thumb vertically */
}

.custom-audio-player .seek-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  align-items: center;
}

.custom-audio-player .current-time,
.custom-audio-player .total-time {
  font-size: 14px;
}
