* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  font-size: 16px;
}

a {
  all: unset;
}

body {
  background: linear-gradient(
    298deg,
    rgba(113, 193, 252, 1) 0%,
    rgba(22, 134, 223, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  /* DONT SCROLL PLEASE*/
  max-width: 100%;
  overflow-x: hidden;
  max-height: 100%;
  overflow-y: hidden;
}

.album {
  display: inline-block;
  padding-right: 1em;
}

#main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cursor-circle {
  position: absolute;
  width: 90vh;
  height: 90vh;
  background-color: rgb(117, 255, 114);
  border-radius: 50%;
  border: 10vh solid rgb(18, 255, 211);
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  z-index: -1;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 114x;
  z-index: 1;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e8e8e886;
  border: solid 1px rgba(0, 0, 0, 0.192);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #f5f6fd 0%, #a7bce5 67.5%, #fcfcfc 87.5%);
  border: solid 2px rgba(0, 0, 0, 0.352);
  border-radius: 10px;
  transition-duration: 2000ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #f5f6fd 0%, #7f98cb 67.5%, #fcfcfc 87.5%);
}

/* NAVIGATION */

.navigation {
  display: flex;
  gap: 10%;
  justify-content: center;
  padding: 2%;
  padding-bottom: 2%;
  /* SWAG */
  color: rgb(255, 255, 255);
  border-radius: 10px;

  background: linear-gradient(
    272deg,
    rgba(255, 255, 255, 0.02) 7.36%,
    rgba(255, 255, 255, 0.13) 27.81%
  );

  background-blend-mode: overlay, normal, normal;
  /* Window Active, Taskbar */
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.4) inset,
    0px -1px 1px 0px rgba(0, 0, 0, 0.137) inset,
    0px -1px 10px 0px rgba(0, 0, 0, 0.142);
  backdrop-filter: blur(2px);
}

#logofish {
  height: 40vh;
  width: auto;
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 2;
}

h3 {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

h3:hover {
  font-weight: 700;
  letter-spacing: 0.3em;
  transition-duration: 500ms;
}

a {
  font-size: 0.8em;
}

/* TRACKS */

ul {
  list-style: none;
  display: block;
  width: 30vw;
  height: 64vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 2%;
  padding-right: 2%;
  /* SWAG */
}

li {
  display: block;
  padding-top: 3vh;
  padding-bottom: 0px;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 3vh;
  align-items: center;
  color: white;
  /* SWAG */
  border-radius: 20px;

  background: linear-gradient(
      272deg,
      rgba(255, 255, 255, 0.02) 7.36%,
      rgba(255, 255, 255, 0.13) 27.81%,
      rgba(255, 255, 255, 0) 41.21%,
      rgba(255, 255, 255, 0.14) 60.31%,
      rgba(255, 255, 255, 0) 76.52%,
      rgba(255, 255, 255, 0.2) 99.12%
    ),
    linear-gradient(
      0deg,
      rgba(56, 156, 234, 0.58) 0%,
      rgba(56, 156, 234, 0.58) 100%
    ),
    linear-gradient(
      180deg,
      rgba(176, 176, 176, 0.8) 0%,
      rgba(11, 10, 38, 0.8) 47.17%,
      rgba(13, 15, 41, 0.8) 51.56%,
      rgba(15, 15, 46, 0.8) 100%
    );

  background-blend-mode: overlay, normal, normal;
  /* Window Active, Taskbar */
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.4) inset,
    0px -1px 1px 0px rgba(0, 0, 0, 0.162) inset,
    0px -1px 10px 0px rgba(0, 0, 0, 0.299);
  backdrop-filter: blur(2px);
}

.trackinfo {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 3vh;
}

#tracks {
  display: flex;
  align-items: center;
}

.trackname {
  font-weight: 600;
  letter-spacing: -0.05em;
}

/* Responsive design */
@media (max-width: 768px) {
  audio {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  audio {
    max-width: 100%;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vh;
}

/* HERO MOMENT */

.albumimage {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin-right: 10px;
}

#section_one {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  gap: 2%;
}

#hero {
  display: flex;
  align-items: flex-end;
}

#playlistowner {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  flex-direction: column-reverse;
  rotate: 180deg;
  margin-right: 0%;
  justify-content: start;
  margin-right: -16px;
  z-index: 1;
  /* SWAG */
  font-size: 5vw;
  letter-spacing: -0.05em;
  color: #ffffff;
}

#playlistcover-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0%;
}

#playlistcover {
  height: 60vh;
  width: auto;
  z-index: 0;
  border-radius: 40px;
  filter: drop-shadow(rgba(0, 0, 0, 0.025) 2px 2px 8px);
}

#textplaylist {
  font-size: 5vw;
  letter-spacing: -0.05em;
  margin-bottom: -16px;
  z-index: 1;
  color: #ffffff;
}

/* FOOTER */

.playlistname_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

#playlistname {
  font-size: 2vw;
  letter-spacing: 0.5em;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

/* PLAYER */

.custom-audio-player {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(100% + 4vw);
  margin-left: -2vw;
}

.custom-audio-player .play-pause {
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  width: 27%;
  height: 5vh;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(180deg, #f5f6fd 0%, #a7bce5 67.5%, #fcfcfc 87.5%);
  transition-duration: 400ms;
}

.play-pause {
  transition-duration: 400ms;
}

.play-pause:hover {
  transition-duration: 400ms;
  background: linear-gradient(180deg, #ffffff 0%, #c4d3f2 67.5%, #ffffff 87.5%);
}

.custom-audio-player .seek-bar {
  -webkit-appearance: none;
  position: relative;
  width: 73%;
  height: 5vh;
  background: #ddd;
  border-bottom-right-radius: 20px;
  background: linear-gradient(
      272deg,
      rgba(255, 255, 255, 0.02) 7.36%,
      rgba(255, 255, 255, 0.13) 27.81%,
      rgba(255, 255, 255, 0) 41.21%,
      rgba(255, 255, 255, 0.14) 60.31%,
      rgba(255, 255, 255, 0) 76.52%,
      rgba(255, 255, 255, 0.2) 99.12%
    ),
    linear-gradient(
      0deg,
      rgba(56, 156, 234, 0.58) 0%,
      rgba(56, 156, 234, 0.58) 100%
    ),
    linear-gradient(
      180deg,
      rgba(176, 176, 176, 0.8) 0%,
      rgba(11, 10, 38, 0.8) 47.17%,
      rgba(13, 15, 41, 0.8) 51.56%,
      rgba(15, 15, 46, 0.8) 100%
    );

  background-blend-mode: overlay, normal, normal;
  /* Window Active, Taskbar */
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.4) inset;
  backdrop-filter: blur(2px);
  align-items: start;
  align-content: flex-end;
  cursor: pointer;
}

.custom-audio-player .seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5vh;
  height: 1.5vh;
  margin-top: -0.7vh;
  border-radius: 50%;
  cursor: pointer;
  background: radial-gradient(
    100.01% 100.01% at 50% 50%,
    #ededed 0%,
    #a1a1a1 100%
  );
  border: solid 1px rgba(37, 52, 140, 0.508);
  filter: drop-shadow(rgba(0, 0, 0, 0.167) 2px 2px 8px);
}

.seek-bar::-webkit-slider-thumb:hover {
  background: radial-gradient(
    100.01% 100.01% at 50% 50%,
    #d9d9d9 0%,
    #6c6c6c 100%
  );
  border: solid 1px rgba(37, 52, 140, 0.644);
}

.custom-audio-player .seek-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5vh; /* Ensure the track height is compatible with thumb height */
  border: 1px solid #3cb016;
  background: #c4ff3a;
  filter: drop-shadow(rgba(0, 0, 0, 0.025) 2px 2px 8px);
}

.timerall {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  position: absolute;
  right: 1vh;
  bottom: 1vh;
  color: rgba(255, 255, 255, 0);
}

.custom-audio-player .current-time,
.custom-audio-player .total-time {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0);
}
