* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  font-size: 16px;
}

a {
  all: unset;
}

body {
  background: black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.album {
  display: inline-block;
  padding-right: 1em;
}

#main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cursor-circle {
  position: absolute;
  width: 80vh;
  height: 80vh;
  background-color: #f7b53e;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  z-index: -1;
  border: 80px solid rgb(255, 0, 106);
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
  /* border-bottom: 1px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  background: rgb(176, 176, 176); */
  z-index: 1;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000032;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000030;
  transition-duration: 2000ms;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 0, 106);
}

/* NAVIGATION */

.navigation {
  color: #000000;
  background-color: #0000002b;
  display: flex;
  gap: 10%;
  justify-content: center;
  padding: 3%;
  /* SWAG */
  border-radius: 10px;
}

#logofish {
  height: 40vh;
  width: auto;
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 2;
}

h3 {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

h3:hover {
  font-weight: 700;
  letter-spacing: 0.3em;
  transition-duration: 500ms;
}

a {
  font-size: 0.8em;
}

/* TRACKS */

ul {
  list-style: none;
  display: block;
  width: 30vw;
  height: 64vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 0;
  padding-right: 1vw;

  /* SWAG */
}

li {
  display: block;
  background-color: #00000032;
  color: rgb(0, 0, 0);
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 2%;
  filter: drop-shadow(rgba(0, 0, 0, 0.025) 2px 2px 20px);
}

.trackinfo {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 2vh;
}

#tracks {
  display: flex;
  align-items: center;
}

.trackname {
  font-weight: 600;
  letter-spacing: -0.05em;
}

/* Responsive design */
@media (max-width: 768px) {
  audio {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  audio {
    max-width: 100%;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;
}

/* HERO MOMENT */

.albumimage {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin-right: 10px;
}

#section_one {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  gap: 2%;
}

#hero {
  display: flex;
  align-items: flex-end;
}

#playlistowner {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  flex-direction: column-reverse;
  rotate: 180deg;
  margin-right: 0%;
  justify-content: start;
  margin-right: -16px;
  z-index: 1;
  /* SWAG */
  font-size: 5vw;
  letter-spacing: -0.05em;
  color: #000000;
}

#playlistcover-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0%;
}

#playlistcover {
  height: 60vh;
  width: auto;
  z-index: 0;
  border-radius: 40px;
  filter: drop-shadow(rgba(0, 0, 0, 0.025) 2px 2px 8px);
}

#textplaylist {
  font-size: 5vw;
  letter-spacing: -0.05em;
  margin-bottom: -16px;
  z-index: 1;
  color: #000000;
}

/* FOOTER */

.playlistname_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

#playlistname {
  color: rgb(0, 0, 0);
  font-size: 2vw;
  letter-spacing: 0.5em;
  font-weight: 400;
  text-align: center;
}

/* PLAYER */

.custom-audio-player {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0.5%;
}

.custom-audio-player .play-pause {
  background-color: #00000030;
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  width: 27%;
  height: 4vh;
  color: rgb(0, 0, 0);
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.play-pause {
  transition-duration: 200ms;
}

.play-pause:hover {
  width: 30%;
  background-color: #00000024;
}

.custom-audio-player .seek-bar {
  -webkit-appearance: none;
  position: relative;
  width: 73%;
  height: 4vh;
  background: #ddd;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #00000030;
  align-items: end;
  align-content: flex-end;
  cursor: pointer;
}

.custom-audio-player .seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1vh;
  height: 1vh;
  background: #ffde5c;
  border: 1px solid rgb(255, 0, 106);
  filter: blur(1px);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -1vh;
  transition-duration: 200ms;
}
.seek-bar::-webkit-slider-thumb:hover {
  background: #c2dd18;
}

.custom-audio-player .seek-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #ff6c6c00;
  border-radius: 5px;
  align-content: flex-end;
}

.custom-audio-player .current-time,
.custom-audio-player .total-time {
  font-size: 0.8em;
}

.timerall {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  position: absolute;
  right: 2vh;
  bottom: 1.2vh;
}
