* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #1139ec;
  background-color: antiquewhite;
}

h1 {
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -6px;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2px;
}

h3 {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -4px;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

h5 {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

.logo {
  display: inline-flex;
  padding: 4px 26px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #1139ec;
}

#ul_nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 80px;
  list-style-type: none;
  vertical-align: middle;
}

#li_nav {
  vertical-align: middle;
}

#div_nav {
  vertical-align: middle;
}

.div_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  vertical-align: middle;
}
