* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #1139ec;
  background-color: antiquewhite;
}

h1 {
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -6px;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2px;
}

h3 {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -4px;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

h5 {
  color: antiquewhite;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
}

h6 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

.logo {
  display: inline-flex;
  padding: 4px 26px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #1139ec;
}

.ul_nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 60px;
  list-style-type: none;
  vertical-align: middle;
}

.li_nav {
  align-items: center;
}

#div_nav {
  align-items: center;
}

.div_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

#button {
  display: block;
  padding: 16px 30px;
  background: #1139ec;
  border-radius: 10px;
}

#hero {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.main_text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.section_01 {
  display: flex;
  flex-direction: row;
  padding: 50px 130px;
  gap: 50px;
}

#hr1 {
  border-bottom: 1 px solid #1139ec;
}
