* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  font-size: 16px;
}

a {
  all: unset;
  font-size: 0.8em;
}

body {
  background: linear-gradient(
    0deg,
    rgba(156, 156, 156, 1) 0%,
    rgba(192, 192, 192, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  /* DONT SCROLL PLEASE */
  max-width: 100%;
  overflow-x: hidden;
  max-height: 100%;
  overflow-y: hidden;
}

.album {
  display: inline-block;
  padding-right: 1em;
}

#main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cursor-circle {
  position: absolute;
  width: 80vh;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  z-index: -1;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
  z-index: 1;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
  transition-duration: 2000ms;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
}

/* NAVIGATION */

.navigation {
  display: flex;
  gap: 10%;
  justify-content: center;
  padding: 1%;
  /* SWAG */
  border-bottom: 1px solid black;
}

#logofish {
  height: 40vh;
  width: auto;
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 2;
}

h3 {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

h3:hover {
  font-weight: 700;
  letter-spacing: 0.3em;
  transition-duration: 500ms;
}

/* TRACKS */

ul {
  list-style: none;
  display: block;
  width: 30vw;
  height: 64vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 0;
  padding-right: 2%;
  /* SWAG */
}

li {
  display: block;
  background-color: #c0c0c0;
  padding-top: 3vh;
  padding-bottom: 0px;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 3vh;
  border-radius: 8px;
  align-items: center;
  filter: drop-shadow(rgba(0, 0, 0, 0.025) 2px 2px 8px);
}

.trackinfo {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 3vh;
}

#tracks {
  display: flex;
  align-items: center;
}

.trackname {
  font-weight: 600;
  letter-spacing: -0.05em;
}

/* Responsive design */

@media (max-width: 768px) {
  audio {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  audio {
    max-width: 100%;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4%;
}

/* HERO MOMENT */

.albumimage {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin-right: 10px;
}

#section_one {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  gap: 2%;
}

#hero {
  display: flex;
  align-items: flex-end;
}

#playlistowner {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  flex-direction: column-reverse;
  rotate: 180deg;
  margin-right: 0%;
  justify-content: start;
  margin-right: -16px;
  z-index: 1;
  /* SWAG */
  font-size: 5vw;
  letter-spacing: -0.05em;
  color: #ef3834;
}

#playlistcover-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0%;
}

#playlistcover {
  height: 60vh;
  width: auto;
  z-index: 0;
  border-radius: 40px;
  filter: drop-shadow(rgba(0, 0, 0, 0.025) 2px 2px 8px);
}

#textplaylist {
  font-size: 5vw;
  letter-spacing: -0.05em;
  margin-bottom: -16px;
  z-index: 1;
  color: #ef3834;
}

/* FOOTER */

.playlistname_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.playlistname {
  font-size: 2vw !important;
  letter-spacing: 0.5em !important;
  font-weight: 400 !important;
  text-align: center !important;
  color: black !important;
}

/* PLAYER */

.custom-audio-player {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: calc(100% + 4vw);
  margin-left: -2vw;
}

.custom-audio-player .play-pause {
  background-color: #000000;
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  width: 27%;
  height: 5vh;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
}

.play-pause {
  transition-duration: 200ms;
}

.play-pause:hover {
  border-radius: 0px;
  background-color: #212121;
}

.custom-audio-player .seek-bar {
  -webkit-appearance: none;
  position: relative;
  width: 73%;
  height: 5vh;
  background: #ddd;
  border-bottom-right-radius: 8px;
  background: rgb(183, 183, 183);
  align-items: end;
  align-content: flex-end;
  cursor: pointer;
}

.custom-audio-player .seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.2vw;
  height: 4vh;
  background: #ef3834;
  border-radius: 20px;
  cursor: pointer;
  margin-top: -2.5vh;
  transition-duration: 200ms;
}

.seek-bar::-webkit-slider-thumb:hover {
  background: #971210;
}

.custom-audio-player .seek-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #ff6c6c00;
  border-radius: 5px;
  align-content: flex-end;
}

.custom-audio-player .current-time,
.custom-audio-player .total-time {
  font-size: 0.8em;
}

.timerall {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  position: absolute;
  right: 1vh;
  bottom: 1vh;
}
