* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  font-size: 16px;
}

body {
  background-color: #c0c0c0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.album {
  display: inline-block;
  padding-right: 1em;
}

#main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(199, 170, 133);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(124, 101, 71);
}

/* NAVIGATION */

header {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-left: 4vw;
  margin-right: 4vw;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 80px;
  align-items: center;
  /* SWAG */
}

#logofish {
  height: 30vh;
  width: auto;
  position: fixed;
  top: 2vh;
  left: 2vw;
}

#profile {
  height: 10vh;
  width: auto;
  border-radius: 100px;
  border: solid 4px #f71a1a;
}

h3 {
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* TRACKS */

ul {
  list-style: none;
  display: block;
  width: 30vw;
  height: 64vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* SWAG */
  border-radius: 30px;
}

li {
  display: block;
  background-color: rgb(234, 215, 190);
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  align-items: center;
}

.trackinfo {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 2%;
}

#tracks {
  display: flex;
  align-items: center;
}

.trackname {
  font-weight: 600;
  letter-spacing: -0.05em;
}

/* HERO MOMENT */

.albumimage {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin-right: 10px;
}

#section_one {
  display: flex;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

#hero {
  display: flex;
  align-items: flex-end;
}

#playlistowner {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  flex-direction: column-reverse;
  rotate: 180deg;
  margin-right: 0%;
  justify-content: start;
  margin-right: -16px;
  z-index: 1;
  /* SWAG */
  font-size: 4.5vw;
  letter-spacing: -0.05em;
  color: #f71a1a;
}

#playlistcover-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0%;
}

#playlistcover {
  height: 55vh;
  width: auto;
  z-index: 0;
  border-radius: 40px;
}

#textplaylist {
  font-size: 4.5vw;
  letter-spacing: -0.05em;
  margin-bottom: -16px;
  z-index: 1;
}

/* FOOTER */

.playlistname_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

#playlistname {
  font-size: 2vw;
  letter-spacing: 0.5em;
  font-weight: 400;
  text-align: center;
}
